<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Adherent List</h1>
		<a th:href="@{/creatAdherent}" class="btn btn-primary btn-sm mb-3">
			Ajouter un Adhrent </a>
		<table border="1" class="table table-striped table-reponsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom Adherent</th>
					<th>Prenom Adherent</th>
					<th>Email</th>
					<th>phone</th>
					<th>cni</th>
					<th>type Subscription</th>
					<th>Date Creation</th>
					<th>genre</th>
					<th>profession</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="adherent : ${listAdherents}">
					<td th:text=${adherent.getId()}></td>
					<td th:text="${adherent.name}"></td>
					<td th:text="${adherent.username}"></td>
					<td th:text="${adherent.email}"></td>
					<td th:text="${adherent.phone}"></td>
					<td th:text="${adherent.cni}"></td>
					<td th:text="${adherent.subscription?.typeSub}"></td>
					<td th:text="${adherent.date}"></td>
					<td th:text="${adherent.gender}"></td>
					<td th:text="${adherent.profession}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${adherent.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/showFormForDelete/{id}(id=${adherent.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>