<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Management Adherent</title>
</head>
<body>
	<hr>
	<div class="container">
		<h2>ajouter un Adherent</h2>
		<form action="#" th:action="@{/saveAdherent}" th:object="${adherent}"
			method="POST">
			<input type="text" th:field=${adherent.name}
				placeholder="Adhernet name" class="form-control mb-4 col-4">
			<input type="text" th:field=*{username} placeholder="username name"
				class="form-control mb-4 col-4">
			 <input type="text"
				th:field=*{cni} placeholder="cni " class="form-control mb-4 col-4">
			<input type="email" th:field=*{email} placeholder=" email Adhernet "
				class="form-control mb-4 col-4">
				
				
			 <input type="password"
				th:field=*{password} placeholder="password "
				class="form-control mb-4 col-4"> 
			<input type="tel"
				th:field=*{phone} placeholder="phone"class="form-control mb-4 col-4">
			<input type="text" th:field=*{profession} placeholder=" profession "
				class="form-control mb-4 col-4">
				 <label >type subscription : </label>
			<select th:field="*{subscription}" class="form-control mb-4 col-4" >
			 <option th:each="p :${sub} " th:value ="${p.id}" th:text ="${p.typeSub}">
			 </select>
			 <label>gendre : </label>
			 <input type="radio" th:field=*{gender} value="men">men
			 <input type="radio" th:field=*{gender} value="women">women
				
			 
			 
			 
			
				<button type="submit" class="btn btn-info col-2">ajouter un
				adherent</button>
		</form>
	</div>
</body>
</html>
