<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Update un Adherente</title>
</head>
<body>
	<div class="container">
		<h2>Update un Adherent</h2>
        <form action="#" th:action="@{/saveAdherent}" th:object="${Adherent}" method="POST">
        	<input type="hidden" th:field=*{id} >
			<input type="text" th:field=${Adherent.name}  class="form-control mb-4 col-4">
			<input type="text" th:field=*{username}  class="form-control mb-4 col-4">
			<input type="text" th:field=*{cni}  class="form-control mb-4 col-4">
			<input type="text" th:field=*{email}  class="form-control mb-4 col-4">
			<input type="text" th:field=*{password}  class="form-control mb-4 col-4">
			<input type="text" th:field=*{phone}   class="form-control mb-4 col-4">
			
			<select th:field="*{subscription.id}" class="form-control mb-4 col-4" >
			 <option th:each="p :${sub} " th:value ="${p.id}" th:text ="${p.typeSub}">
			 </select>
			 <input type="text" th:field=*{profession} placeholder=" profession "
				class="form-control mb-4 col-4">
				
			<label> gender</label>
				 <input type="radio" th:field=*{gender} value="men">men
			 <input type="radio" th:field=*{gender} value="women">women
		<button type="submit" class="btn btn-info col-2">Update un adherent</button>		
		</form>
	</div>

</body>
</html>