* {
    padding: 0px;
    margin: 0px;

}

.upper-nav {
    background: black;
    height: 30x;
}
.upper-nav p  {
   color: gray;
   font-size: 10px;
   padding-top: 10px;

}
.upper-nav p  span {
    color: white;
    
}
.navbar-brand{
    font-size: 30px;
    
}

.nav-link {
    font-size: 15px ;
    text-transform: uppercase;
    margin-left: 10px;
}

.navbar-nav{
    height: 33px;
   
    
}

.nav-item :hover {
    border: 2px solid #87bd65;  
}
.klass  img {
    width: 100%;
    height: 600px;

}
.flexslider {
    margin: 0;
    position: relative;
    zoom: 1;
}
.btn-primary{
	    background: #87bd61;
    border: #87bd68;
}
.btn-primary::hover{
	    background: #87bd61;
    border: #87bd68;
}
.sd-services-item-desc {
    padding: 40px 20px 0;
    text-align: center;
}

.img-fluid {
	
	height: 300px;
}
.card-title {
	font-size:20px;
	color: black ;
}
#footer
{

background-color: #252625;
    color: #555855;
    height: 350px;
}
.footer-box1{
    
    background-color: #87bd61;
    
}
.footer-box2{
    
    background-color: #7cad5d;
    
}
.footer-box3{
    
    background-color: #8fc970;
    
}
.footer-box-content{
    text-align: center;
    
}
.footer-box-content h3{
   color: black;
    
}
.footer-box-content p{
   color: cornsilk;
}
.opening-hours li i
{ margin-right: 10px;
 color: #87bd65
}
.opening-hours li span
{ text-align: right;
    color: grey;
}

h4
{
    font-size: 21px;
    margin-top: 30px;
    text-decoration: underline;
    color: white;
}