<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div  class="container my-2 ">
		<h1>Coach List</h1>
		<a th:href="@{/creatCoach}" class="btn btn-primary btn-sm mb-3">Ajouter un Coach</a>
			<table border="1"class="table table-striped table-reponsive-md">
				<thead>
					<tr>
						<th> ID</th>
						<th>Nom Coach </th>
						<th> Prenom Adherent </th>
						<th>Email </th>
						<th>phone</th>
						<th>cni</th>
						<th>gendre</th>
						<th>Actions</th>
					  
					</tr>
				
				</thead>
				<tbody>
					<tr th:each="coach : ${listCoach}">
						<td th:text="${coach.id}"></td>
						<td th:text="${coach.name}"></td>
						<td th:text="${coach.username}"></td>
						<td th:text="${coach.email}"></td>
						<td th:text="${coach.phone}"></td>
						<td th:text="${coach.cni}"></td>
						<td th:text="${coach.gender}"></td>
						<td> <a th:href="@{/UpdateCoach/{id}(id=${coach.id})}" class="btn btn-primary">Update</a>
					     <a th:href="@{/deleteCoach/{id}(id=${coach.id})}" class="btn btn-danger">Delete</a> </td>
					</tr>
				
				</tbody>
			</table>
</div>

</body>
</html>