<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div  class="container my-2 ">
		<h1>Adherent List</h1>
		<a th:href="@{/creatWorkout}" class="btn btn-primary btn-sm mb-3">add Workout </a>
			<table border="1"class="table table-striped table-reponsive-md">
				<thead>
					<tr>
						<th> ID</th>
						<th>activity </th>
						<th>coach </th>
						<th>duration </th>
						<th>hall</th>
						<th>level</th>
						<th>date</th>
						<th>Action</th>
					  
					</tr>
				
				</thead>
				<tbody>
					<tr th:each="workout : ${listWorkout}">
						<td th:text= ${workout.id}></td>
						<td th:text="${workout.activity?.subActivity.name}"></td>
						<td th:text="${workout.coach?.name}"></td>
						<td th:text="${workout.duration}"></td>
						<td th:text="${workout.hall?.name}"></td>
						<td th:text="${workout.level}"></td>
						<td th:text="${workout.date}"></td>
						<td> <a th:href="@{/updateWorkout/{id}(id=${workout.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteWorkout/{id}(id=${workout.id})}" class="btn btn-danger">Delete</a> </td>
					</tr>
				
				</tbody>
			</table>
</div>

</body>
</html>