<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div class = "container">
<form action="#" th:action="@{/saveWorkout}" method="POST">
		<h2>add Workout </h2>
		 <label >type Activity : </label>
			<select th:field="*{workout.activity}" class="form-control mb-4 col-4" >
		    <option th:each="p :${listActivity} " th:value ="${p.id}" th:text ="${p.subActivity.name}">
			</select>
			 <label >type Hall : </label>
			<select th:field="*{workout.hall}" class="form-control mb-4 col-4" >
			 <option th:each="p :${listHall} " th:value ="${p.id}" th:text ="${p.name}">
			 </select>
			 <label >type Coach : </label>
			<select th:field="*{workout.coach}" class="form-control mb-4 col-4" >
			 <option th:each="p :${listCoach} " th:value ="${p.id}" th:text ="${p.name}">
			 </select>
		
		
		<label >duration : </label>
		<input type="text" th:field=${workout.duration} placeholder="Adhernet duration" class="form-control mb-4 col-4">
		<label >level : </label>
		<input type="text" th:field=${workout.level} placeholder="Adhernet level" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">ajouter une seance</button>
	</form>
</div>

</body>
</html>