<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Update Workout</title>
</head>
<body>
	<div class="container">
		<h2>Update Workout</h2>

		<form action="#" th:action="@{/saveWorkout}" th:object="${workout}"method="POST">
			<input type="hidden" th:field=${workout.id}> <label>Activity</label>
			<select th:field="${workout.activity.id}" class="form-control mb-4 col-4">
				<option th:each="p :${listActivity} " th:value="${p.id}"th:text="${p.nameActivity}">
			</select>	
				 <label >type Hall : </label>
				 
			<select  th:field="${workout.hall.id}" class="form-control mb-4 col-4" >
			 <option th:each="p :${listHall} " th:value ="${p.id}" th:text ="${p.name}">
			 </select>
			<label >type Coach : </label>
			<select th:field="${workout.coach.id}" class="form-control mb-4 col-4" >
			 <option th:each="p :${listCoach} " th:value ="${p.id}" th:text ="${p.name}">
			 </select>
			 <label>duration : </label> 
			 <input type="text" th:field=${workout.duration} placeholder="Adhernet duration" class="form-control mb-4 col-4">
				 <label>level : </label>
			 <input type="text" th:field=${workout.level} placeholder="Adhernet level" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">update Workout </button>
		</form>
	</div>

</body>
</html>